<pre style="text-shadow: 2px 2px black;">
  _____    _                         _       _
 |_   _|  (_)                       | |     | |
   | |_ __ _  __ _ _ __   __ _ _   _| | __ _| |_ ___  _ __
   | | '__| |/ _` | '_ \ / _` | | | | |/ _` | __/ _ \| '__|
   | | |  | | (_| | | | | (_| | |_| | | (_| | || (_) | |
   \_/_|  |_|\__,_|_| |_|\__, |\__,_|_|\__,_|\__\___/|_|
                          __/ |
                         |___/
</pre>


<form action="/triangle_display" method="post">
  <div class="form-group">
    <label for="side_1">Enter side one measurement.</label>
    <input id="1" name="side_1" class="form-control" type="text">
    <label for="side_2">Enter side two measurement.</label>
    <input id="2" name="side_2" class="form-control" type="text">
    <label for="side_3">Enter side three measurement.</label>
    <input id="3" name="side_3" class="form-control" type="text">
  </div>
  <center><button type="submit" class= "danger">Give me my triangle!!!!....NOW!</button></center>
</form>
